body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

nav {
  background-color: #66927e;
  padding: 10px;
  text-align: center;
}

nav a {
  text-decoration: none;
  color: #fbea7b;
  margin: 10px;
  padding: 5px 10px;
  margin-bottom: -10px;
}

nav a:hover {
  cursor: pointer;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
}

.user,
.logout,
.home {
  color: #fbea7b;
}

footer {
  padding: 0;
  background-color: #66927e;
}

.column {
  float: left;
  width: 40vh;
}

.column ul,
.faq ul {
  list-style-type: none;
  margin-left: 40px;
  padding: 0;
}

.column li,
.faq li {
  margin-bottom: 10px;
  color: #fbea7b;
}

.column a,
.faq a {
  text-decoration: none;
  color: #fbea7b;
}

.contato {
  color: #fbea7b;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: -5px;
  margin-left: 10px;
  margin-top: 20px;
}

.faq {
  float: right;
  padding: 10px;
}

svg {
  margin-right: 5px;
  color: #fbea7b;
}

.cadastro-title {
  margin: 0;
  color: #3b4848;
  font-size: 4vh;
  padding: 20px;
}

p {
  color: gray;
  font-size: 1.5vh;
  margin-bottom: 4px;
  margin-left: 4vw;
  margin-top: 4vh;
}

input, #itens, #horario {
  color: gray;
  font-size: 1.5vh;
  border: solid gray 1px;
  border-radius: 5px;
  height: 4vh;
  width: 400px;
  margin-bottom: 10px;
  margin-left: 4vw;
}

#cadastrar, #close-button {
  background-color: #66927e;
  color: #fbea7b;
  border: solid #66927e 1px;
  border-radius: 5px;
  font-size: 1.5vh;
  height: 4vh;
  width: 400px;
  margin-left: 4vw;
}

#cadastrar:hover, #close-button:hover {
  cursor: pointer;
}

#close-button, .popup-text {
  margin: 0;
}

#popup1 {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  text-align: center;
}

#popup-content {
  background-color: #fff;
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.dropdown {
  margin-top: 4vh;
}

.dropdown:hover {
  cursor: pointer;
}

#nome-medicamento {
  display: none;
}

.unit-container {
  display: flex;
  align-items: center;
  margin-left: 4vw;
}

.unit-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 50%;
  background-color: #66927e;
  color: #fff;
  font-size: 2vh;
  font-weight: bolder;
  cursor: pointer;
  margin-left: 10px;
  margin-right: 10px;
}