body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

nav {
  background-color: #66927e;
  padding: 10px;
  text-align: center;
}

nav a {
  text-decoration: none;
  color: #fbea7b;
  margin: 10px;
  padding: 5px 10px;
  margin-bottom: -10px;
}

nav a:hover {
  cursor: pointer;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
}

.user,
.logout,
.home {
  color: #fbea7b;
}

footer {
  padding: 0;
  background-color: #66927e;
}

.column {
  float: left;
  width: 40vh;
}

.column ul,
.faq ul {
  list-style-type: none;
  margin-left: 40px;
  padding: 0;
}

.column li,
.faq li {
  margin-bottom: 10px;
  color: #fbea7b;
}

.column a,
.faq a {
  text-decoration: none;
  color: #fbea7b;
}

.contato {
  color: #fbea7b;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: -5px;
  margin-left: 10px;
}

.faq {
  float: right;
  padding: 10px;
}

svg {
  margin-right: 5px;
  color: #fbea7b;
}

.faq-title {
  margin: 0;
  color: #3b4848;
  font-size: 4vh;
  padding: 20px;
}

#faq1, #faq2, #faq3 {
  background-color: #fff;
  border: solid gray 1px;
  font-size: 24px;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 20px;
  padding: 20px;
  text-align: left;
  width: 80vw;
}

button:hover {
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.plus {
  float: right;
  color: gray;
}

#popup1, #popup2, #popup3 {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

#popup-content {
  background-color: #fff;
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

#close-button1, #close-button2, #close-button3 {
  float: right;
  background-color: white;
  border: none;
}

.close-button {
  color: gray;
}